*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
    background-color:whitesmoke;
}
.login-container{
    width: 380px;
    margin: auto;
    padding: 30px 30px;
    margin-top: 10%;
    border: 1px solid rgb(203, 202, 202);
    border-radius: 10px;
    text-align: justify;
}

input[type=text],input[type=password]{
   width: 330px;
   height: 40px;
   text-indent: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid rgb(203, 202, 202);
    border-radius: 5px;
}

textarea{
    padding: 15px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid rgb(203, 202, 202);
    border-radius: 5px;
}
input[type=submit]{
    width: 100px;
    padding: 10px 10px;
    border: 1px solid rgb(203, 202, 202);
    border-radius: 5px;
    margin:10px;
}

input[type=submit]:hover{
    width: 100px;
    padding: 10px 10px;
    background-color: rgb(27, 109, 136);
    border-radius: 5px;
    cursor: pointer;
    transition: 1s linear;
    color: white;
}



.menu-header{
    width: 100%;
    padding: 30px 30px;
    background-color: rgb(116, 116, 116);
}

.wrapper-container{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
   
}

.wrapper-container .navbar{
    width: 15%;
    height: 120vh;
   background-color: rgb(3, 36, 36);
   text-align: center;
}
 .navbar li{
    margin-top: 10px;
    list-style: none;
}
.navbar li a{
    list-style: none;
    display: block;
    padding: 10px;
    text-decoration: none;
    text-transform: capitalize;
    color: whitesmoke;

}
.connection_btn{
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    margin-top: 10px;
}

.connection_btn:hover{
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgb(3, 36, 36);
}

.navbar li a:hover{
    list-style: none;
    background-color: whitesmoke;
    display: block;
    padding: 10px;
    text-decoration: none;
    text-transform: capitalize;
    color: black;

}
.navbar li a:active{
    list-style: none;
    background-color: whitesmoke;
    display: block;
    padding: 10px;
    text-decoration: none;
    text-transform: capitalize;
    color: black

}

.wrapper-container .page-content{
    padding: 10px 20px;
    width: 100vw;  
    
}

.connections-form-container{
    display: none;
    width: 50%;
    background-color: lightgray;
    z-index: 10px;
    position: absolute;
    left: 30%;
    top: 30%;
    border-radius: 5px;
    transition: linear 1s display;
}
.connections-form-container .form-title{
    width: 100%;
    border-bottom: 1px solid whitesmoke;
    padding: 5px 10px;
    text-align: center;
}

.connection_selection{
    padding: 15px;
}
.connection_selection select{
    padding: 10px 20px;
    border-radius: 4px;
}

.connection_forms{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: space-between;
}

.connection_forms div{ 
    padding: 20px 20px;
    width: 350px;
    margin-right: 10px;
}

.connection_forms div select,input[type=datetime-local]{
    padding: 10px 20px;
    border-radius: 4px;
}





.connections_details{
    padding: 10px 20px;
    border-radius: 4px;
    width: 80%;
    border: 1px solid black;
    margin-bottom: 15px;
}
.connections_details span{
   margin: 15px;
}


.flow-forms{
    padding: 10px 20px;
}

.flow-forms select{
    width: 300px;
}



#id_source,#id_target,#id_schedule_time,#id_time_zone{
    margin:10px;
    width: 250px;
}

.flow-forms-container{
    margin: auto;
    width: 70vw;
    padding: 10px;
    margin-top: 30px;
}
.integraton-container{
    margin: auto;
    padding: 10px;
    margin-top: 30px;
   
}

.integraton-container a {
    text-decoration: none;
    color: black;
   
}

.target-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    gap: 20px;
}

.source-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    gap: 20px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
  }

.grid-item span{
    font-size: 15px;
}

.source-container img{
    width:100px;
    height: 100px;
    cursor: pointer;

}

.target-container img{
    width:100px;
    height: 100px;
    cursor: pointer;
}

