{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{request.user.email}}</title>
</head>
<link rel="stylesheet" href="{% static 'flowapp/main.css' %}">
<script src="{% static 'flowapp/main.js' %}" defer></script>
<body>

<div class="menu-header"></div>

<div class="wrapper-container">

   <!--navbar-->
    <div class="navbar">
        <li><a href="{% url 'integretion' %}">Integrations</a></li>
        <li><a href="{% url 'connection' %}">Connections</a></li>
        <li><a href="{% url 'create-pipline' %}">Create piplines</a></li>
        <li><a href="{% url 'flow' %}">Flows piplines</a></li>
        <li><a href="{% url 'flow-runs' %}">Flow Runs</a></li>
        <li><a href="{% url 'deployment' %}">Deployments</a></li>
       
    </div>
     <!--navbar-->

    <!--page-content-->
    <div class="page-content">
        <div class="flow-forms-container">

            <form action="{% url 'create-pipline' %}" method="post">
                {% csrf_token %}
            <div class="connection_forms">
                {{form.non_field_errors }}

                <div class="fieldWrapper">

                    <label for="{{ s3form.source.id_for_label }}">Source</label>
                    <br>
                    {{ form.source }}
                    <br>
                    <br>

                    
                    <label for="{{ form.deployment_name.id_for_label }}">Deployment Name</label>
                    <br>
                    {{ form.deployment_name }}
                    <br>
                    <br>

                    <label for="{{form.source_connection_name.id_for_label }}">Source connection name:</label>
                    <br>
                    {{form.source_connection_name }}
                    <br>
                    <br>
                    <br>
                    <br>



                    <label for="{{form.schedule_time.id_for_label }}">Schedule:</label>
                    <br>
                    {{form.schedule_time }}
                    <br>

                   
                </div>


                <div class="fieldWrapper">

                    

                    <label for="{{ form.target.id_for_label }}">Target</label>
                    <br>
                    {{ form.target }}
                    <br>
                    <br>

                    
                    <label for="{{ form.flow_name.id_for_label }}">Flow Name</label>
                    <br>
                    {{ form.flow_name }}
                    <br>
                    <br>
                
                    <label for="{{form.target_connection_name.id_for_label }}">Target connection name:</label>
                    <br>
                    {{form.target_connection_name }}
                    <br>
                    <br>
                    <br>
                    <br>
                
                    <label for="{{form.time_zone.id_for_label }}">TimeZone:</label>
                    <br>
                    {{form.time_zone }}
                    <br>
                </div>

                </div>

                <br>
                <br>
                <input type="submit" value="Create Flow">
            </form>



        </div>
               

    </div>
    <!--page-content-->
   


    
</div>
    
</body>
</html>