{% load static %}
{% load tz %}
{% load cron_tag %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{request.user.email}}</title>
</head>
<link rel="stylesheet" href="{% static 'flowapp/main.css' %}">
<script src="{% static 'flowapp/main.js' %}" defer></script>
<body>

<div class="menu-header"></div>

<div class="wrapper-container">

   <!--navbar-->
    <div class="navbar">
        <li><a href="{% url 'integretion' %}">Integrations</a></li>
        <li><a href="{% url 'connection' %}">Connections</a></li>
        <li><a href="{% url 'create-pipline' %}">Create piplines</a></li>
        <li><a href="{% url 'flow' %}">Flows piplines</a></li>
        <li><a href="{% url 'flow-runs' %}">Flow Runs</a></li>
        <li><a href="{% url 'deployment' %}">Deployments</a></li>
    </div>
     <!--navbar-->

    <!--page-content-->
    <div class="page-content">
    {% if flow_runs %}
    {% for flow_run in flow_runs  %}
    
    
    <div class="flow-run-container">
        <p>{{flow.name}}  &nbsp; >  &nbsp; {{flow_run.name}} <span class="inner-span">{{flow_run.tags|first}}</span></p>
       
        <p><span class="inner-span">{{flow_run.state.type}}</span> &nbsp; &nbsp; {{flow_run.start_time|convert_date}}  &nbsp; &nbsp; next schedule time: {{flow_run.next_scheduled_start_time}}</p>

        <p> Deployment {{deployment.name}}  &nbsp; &nbsp; Work Pool:{{flow_run.work_pool_name}} &nbsp; &nbsp; Work Queue:{{flow_run.work_queue_name}}</p>
       
    </div>
    {% endfor %}
    {% else %}
    <p>No Flow Run yet</p>
    {% endif %}

      
   

</div>
    <!--page-content-->
   
</div>
    
</body>
</html>