{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{request.user.email}}</title>
</head>
<link rel="stylesheet" href="{% static 'flowapp/main.css' %}">
<script src="{% static 'flowapp/main.js' %}" defer></script>
<body>

<div class="menu-header"></div>

<div class="wrapper-container">

   <!--navbar-->
    <div class="navbar">
        <li><a href="{% url 'profile' %}">Connections</a></li>
        <li><a href="{% url 'flow' %}">Flows</a></li>
       
    </div>
     <!--navbar-->

    <!--page-content-->
    <div class="page-content">
        <button class="connection_btn"> Add new Flows</button>


         <div class="my-connection">
            
            <p>My Flows</p>
            {% if s3connections %}
            {% for s3connection in s3connections %}
            <div class="connections_details">
                <span>S3</span> 
                <br>
                <span>bucket_name:{{s3connection.bucket_name}}</span> <span>key: {{s3connection.key}}</span> <span>Type: {{s3connection.s3_connection_type}}</span>
            </div>
              
            {% endfor %}
              
            {% endif %}

            {% if pgres_connection %}
            {% for pgres_connections in pgres_connection %}
            <div class="connections_details">
                <span>Postgress</span> 
                <br>
                <span>Database:{{pgres_connections.database_name}}</span> <span>username: {{pgres_connections.username}}</span> <span>Type: {{pgres_connections.post_connection_type}}</span>
            </div>
              
            {% endfor %}
              
            {% endif %}

            {% if pincone_connections %}
            {% for pincone_connection in pincone_connections %}
            <div class="connections_details">
                <span>Pincone</span> 
                <br>
                <span>Database:{{pincone_connection.index_name}}</span> <span>enviroment: {{pincone_connection.environment}}</span> <span>Type: {{pincone_connection.pincon_connection_types}}</span>
            </div>
              
            {% endfor %}
              
            {% endif %}

            {% if singlestore_connections %}
            {% for singlestore_connection in singlestore_connections %}
            <div class="connections_details">
                <span>SingleStore</span> 
                <br>
                <span>singledb_url:{{singlestore_connection.singledb_url}}</span>  <span>Type: {{singlestore_connection.single_connection_types}}</span>
            </div>
              
            {% endfor %}
              
            {% endif %}
            
         </div>

         


        <!--form-container-->
        <div class="connections-form-container">
            <div class="form-title">
                <button class="close_btn">X</button>
                <p> Add flows</p>
                
            </div>
            
            <!--flows selection-->
            <div class="connection_selection">
                <select class="connections flow_selection" name="connections">
                    <option>Select flows</option>
                    <option value="s3_to_pinecone">S3 to pinecone</option>
                    <option value="s3_to_single_store">S3 to singleStore</option>
                    <option value="postgress_to_single_store"> Postgress to singleStore</option>
                    <option value="postgress_to_pinecone"> Postgress to pinecone</option>
                </select>
            </div>
            <!--flows selection-->

            

<!--s3form to pinecone-->
        <div class="formtabs">
            <p style="text-align: center;">S3 to Pinecone</p>
            <form action="{% url 'flow' %}" method="post">
                {% csrf_token %}
            <div class="connection_forms">
                {{s3form.non_field_errors }}

                <div class="fieldWrapper">
                    <label for="{{ s3form.connection_name.id_for_label }}">Source</label>
                    <br>
                    {{ s3form.source }}
                    <br>

                    <label for="{{ s3form.target.id_for_label }}">Target</label>
                    <br>
                    {{ s3form.target }}
                    <br>

                </div>

                <div class="fieldWrapper">
                    <label for="{{ s3form.scheduel_time.id_for_label }}">Scheduel</label>
                    <br>
                    <br>
                    {{ s3form.scheduel_time }}
                    <br>
                    <br>

                    <label for="{{ s3form.time_zone.id_for_label }}">Time Zone</label>
                    <br>
                    {{ s3form.time_zone }}
                    <br>

                </div>



                </div>
                <input type="submit" value="save">
            </form>
            </div>
        <!--s3form to pinecone-->




        <!--s3form to singlestore-->
        <div class="formtabs">
            <p style="text-align: center;">S3 to Singlestore</p>

            <form action="{% url 'flow' %}" method="post">
                {% csrf_token %}
            <div class="connection_forms">
                {{form_s3_singlestore.non_field_errors }}

                <div class="fieldWrapper">
                    <label for="{{ form_s3_singlestore.source.id_for_label }}">Source</label>
                    <br>
                    {{ form_s3_singlestore.source }}
                    <br>

                    <label for="{{ form_s3_singlestore.target.id_for_label }}">Target</label>
                    <br>
                    {{ form_s3_singlestore.target }}
                    <br>

                </div>



                </div>
                <input type="submit" value="save">
            </form>
            </div>
        <!--s3form to singlestore-->




                <!--Postgressform to singlestore-->
                <div class="formtabs">
                    <p style="text-align: center;">Postgress to Singlestore</p>
                    <form action="{% url 'flow' %}" method="post">
                        {% csrf_token %}
                <div class="connection_forms">

                    {{form_postgress_singlestore.non_field_errors }}
    
                    <div class="fieldWrapper">
                        <label for="{{ form_postgress_singlestore.source.id_for_label }}">Source</label>
                        <br>
                        {{ form_postgress_singlestore.source }}
                        <br>
    
                        <label for="{{ form_postgress_singlestore.target.id_for_label }}">Target</label>
                        <br>
                        {{ form_postgress_singlestore.target }}
                        <br>


                    </div>
                </div>
                <input type="submit" value="save">
            </form>
            </div>

                <!--Postgressform to singleStore-->


                 <!--Postgressform to pinecone-->
                 <div class="formtabs">
                    <p style="text-align: center;">Postgress to Pinecone</p>
                    <form action="{% url 'flow' %}" method="post">
                        {% csrf_token %}
                 <div class="connection_forms">
                    {{pinconeform.non_field_errors }}
    
                    <div class="fieldWrapper">
                        <label for="{{ form_postgress_pinecone.source.id_for_label }}">Source</label>
                        <br>
                        {{ form_postgress_pinecone.source }}
                        <br>
    
                        <label for="{{ form_postgress_pinecone.target.id_for_label }}">Target</label>
                        <br>
                        {{ form_postgress_pinecone.target }}
                        <br>


                    </div>

                </div>
                <input type="submit" value="save">
            </form>
            </div>

                  <!--Postgressform to pinecone-->


                


            </div>
          





















            
        </div>
         <!--form-container-->
    </div>
    <!--page-content-->
   
</div>
    
</body>
</html>