{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{request.user.email}}</title>
</head>
<link rel="stylesheet" href="{% static 'flowapp/main.css' %}">
<script src="{% static 'flowapp/main.js' %}" defer></script>
<body>

<div class="menu-header"></div>

<div class="wrapper-container">

   <!--navbar-->
    <div class="navbar">
        <li><a href="{% url 'integretion' %}">Integrations</a></li>
        <li><a href="{% url 'connection' %}">Connections</a></li>
        <li><a href="{% url 'create-pipline' %}">Create piplines</a></li>
        <li><a href="{% url 'flow' %}">Flows piplines</a></li>
        <li><a href="{% url 'flow-runs' %}">Flow Runs</a></li>
        <li><a href="{% url 'deployment' %}">Deployments</a></li>
    </div>
     <!--navbar-->

    <!--page-content-->
    <div class="page-content">
        <div class="flow-forms-container">

            <form action="{% url 'googledrive' %}" method="post">
                {% csrf_token %}
            <div class="connection_forms">
                {{form.non_field_errors }}

                <div class="fieldWrapper">

                    <label for="{{ form.connection_name.id_for_label }}">Connection Name</label>
                    <br>
                    {{ form.connection_name}}

                    <br>
                    <label for="{{ form.folder_id.id_for_label }}">FolderID</label>
                    <br>
                    {{ form.folder_id }}
                    <br>

                     
                    <label for="{{ form.gdrive_api_file.id_for_label }}">Gdrive api file</label>
                    <br>
                    {{ form.gdrive_api_file }}
                    <br>

                    <label for="{{ form.template.id_for_label }}">Template</label>
                    <br>
                    {{ form.template }}
                    <br>

                    
                    <label for="{{ form.supportsAllDrives.id_for_label }}">SupportsAllDrives</label>
                    <br>
                    {{ form.supportsAllDrives }}
                    <br>
                   
                </div>


                <div class="fieldWrapper">

                    <label for="{{form.file_types.id_for_label }}">File Types:</label>
                    <br>
                    {{form.file_types}}
                    <br>

                    <label for="{{form.query.id_for_label }}">Query:</label>
                    <br>
                    {{form.query}}
                    <br>

                    <label for="{{form.num_results.id_for_label }}">Num results:</label>
                    <br>
                    {{form.num_results}}
                    <br>
                
                    <label for="{{form.recursive.id_for_label }}">recursive:</label>
                    <br>
                    {{form.recursive }}
                    <br>
                </div>

                </div>
                <input type="submit" value="Save">
            </form>



        </div>
               

    </div>
    <!--page-content-->
   


    
</div>
    
</body>
</html>