{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{request.user.email}}</title>
</head>
<link rel="stylesheet" href="{% static 'flowapp/main.css' %}">
<script src="{% static 'flowapp/main.js' %}" defer></script>
<body>

<div class="menu-header"></div>

<div class="wrapper-container">

   <!--navbar-->
    <div class="navbar">
        <li><a href="{% url 'integretion' %}">Integrations</a></li>
        <li><a href="{% url 'connection' %}">Connections</a></li>
        <li><a href="{% url 'create-pipline' %}">Create piplines</a></li>
        <li><a href="{% url 'flow' %}">Flows piplines</a></li>
        <li><a href="{% url 'flow-runs' %}">Flow Runs</a></li>
        <li><a href="{% url 'deployment' %}">Deployments</a></li>
    </div>
     <!--navbar-->

    <!--page-content-->
    <div class="page-content">
        <div class="integraton-container">

        <div class="source-container">
        <a href="{% url 'googledrive' %}">
            <div class="grid-item">
                <img src="{% static 'sourceimages/googledrive.png' %}">
                <p>GoogleDrive</p>
                <span>source</span>
            </div>
        </a>

        <a href="{% url 'azurecontainer' %}">
            <div class="grid-item">
                <img src="{% static 'sourceimages/azure-table.1339262.59199e16fb566cb6d7c1d1b7155b66f6.png' %}">
                <p>AzureContainer</p>
                <span>source</span>
            </div>
        </a>
       
       <a href="{% url 'azurestorage' %}">
            <div class="grid-item">
                <img src="{% static 'sourceimages/azure-table.1339262.59199e16fb566cb6d7c1d1b7155b66f6.png' %}">
                <p>AzureStorage</p>
                <span>source</span>
            </div>
        </a>

        <a href="{% url 'github' %}">
            <div class="grid-item">
                <img src="{% static 'sourceimages/github.16aa737.ef7a02b69836dc8b6a732a54c4200dcb.png' %}">
                <p>GitHub</p>
                <span>source</span>
            </div>
        </a>
        
        <a href="{% url 'notion' %}">
            <div class="grid-item">
                <img src="{% static 'sourceimages/notionimage.png' %}">
                <p>Notion</p>
                <span>source</span>
            </div>
        </a>

        <a href="{% url 'snowflake' %}">
            <div class="grid-item">
                <img src="{% static 'sourceimages/snowflake.59ce981.0b6687d0465d6c5cc2e629bd903e696f.png' %}">
                <p>Snowflake</p>
                <span>source</span>
            </div>
        </a>

        <a href="{% url 'aws' %}">
            <div class="grid-item">
                <img src="{% static 'sourceimages/pipelinewise-s3-csv.21b8d3c.42ff27bb410d2c243991128d456fe001.png' %}">
                <p>Aws</p>
                <span>source</span>
            </div>
        </a>
       
        <a href="{% url 'elasticsearch' %}">
            <div class="grid-item">
                <img src="{% static 'targetimages/elasticsearch.59ce981.68519aaac0ff5649bd4756df2d946cea.png' %}">
                <p>Elasticsearch</p>
                <span>target</span>
            </div>
        </a>

        <a href="{% url 'pinecone' %}">
            <div class="grid-item">
                <img src="{% static 'targetimages/pinecone.59ce981.10ca2664f2b68d9b4b26dc79e6942be7.png' %}">
                <p>Pincone</p>
                <span>target</span>
            </div>
        </a>

        <a href="{% url 'qdrant' %}">
            <div class="grid-item">
                <img src="{% static 'targetimages/qdrant.png' %}">
                <p>Qdrant</p>
                <span>target</span>
            </div>
        </a>

        <a href="{% url 'singlestoredb' %}">
            <div class="grid-item">
                <img src="{% static 'targetimages/singlestoredb.jpg' %}">
                <p>Singlestoredb</p>
                <span>target</span>
            </div>
        </a>

        <a href="{% url 'weaviatdb' %}">
            <div class="grid-item">
                <img src="{% static 'targetimages/weaviatdb.jpg' %}">
                <p>Weaviatdb</p>
                <span>target</span>
            </div>
        </a>
        <a href="{% url 'openai' %}">
            <div class="grid-item">
                <img src="{% static 'targetimages/openai.png' %}">
                <p>Open Ai</p>
                <span>embedding</span>
            </div>
        </a>
        </div>
        
   

</div>
    <!--page-content-->
   
</div>
    
</body>
</html>