{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{request.user.email}}</title>
</head>
<link rel="stylesheet" href="{% static 'flowapp/main.css' %}">
<script src="{% static 'flowapp/main.js' %}" defer></script>
<body>

<div class="menu-header"></div>

<div class="wrapper-container">

   <!--navbar-->
    <div class="navbar">
        <li><a href="{% url 'profile' %}">Integrations</a></li>
        <li><a href="{% url 'flow' %}">Create Flows piplines</a></li>
        <li><a href="{% url 'flow' %}">Flows piplines</a></li>
       
    </div>
     <!--navbar-->

    <!--page-content-->
    <div class="page-content">
        <div class="flow-forms-container">

            <form action="{% url 'qdrant' %}" method="post">
                {% csrf_token %}
            <div class="connection_forms">
                {{form.non_field_errors }}

                <div class="fieldWrapper">

                    <label for="{{ form.connection_name.id_for_label }}">Connection Name</label>
                    <br>

                    {{ form.connection_name}}
                    <br>

                    <br>
                    <label for="{{ form.path.id_for_label }}">Path</label>
                    <br>
                    {{ form.path }}
                    <br>

                   
                </div>


                <div class="fieldWrapper">

                    <label for="{{form.collection_name.id_for_label }}">Collection name:</label>
                    <br>
                    {{form.collection_name}}
                    <br>

                
                   
                </div>

                </div>
                <input type="submit" value="Save">
            </form>



        </div>
               

    </div>
    <!--page-content-->
   


    
</div>
    
</body>
</html>