{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{request.user.email}}</title>
</head>
<link rel="stylesheet" href="{% static 'flowapp/main.css' %}">
<script src="{% static 'flowapp/main.js' %}" defer></script>
<body>

<div class="menu-header"></div>

<div class="wrapper-container">

   <!--navbar-->
    <div class="navbar">
        <li><a href="{% url 'integretion' %}">Integrations</a></li>
        <li><a href="{% url 'connection' %}">Connections</a></li>
        <li><a href="{% url 'create-pipline' %}">Create piplines</a></li>
        <li><a href="{% url 'flow' %}">Flows piplines</a></li>
        <li><a href="{% url 'deployment' %}">Deployments</a></li>
       
    </div>
     <!--navbar-->

    <!--page-content-->
    <div class="page-content">
        <div class="flow-forms-container">

            <form action="{% url 'notion' %}" method="post">
                {% csrf_token %}
            <div class="connection_forms">
                {{form.non_field_errors }}

                <div class="fieldWrapper">

                    <label for="{{ form.connection_name.id_for_label }}">Connection Name</label>
                    <br>

                    {{ form.connection_name}}
                    <br>
                    <label for="{{ form.query.id_for_label }}">Query</label>
                    <br>
                    {{ form.query }}
                    <br>

                    <br>
                    <label for="{{ form.user.id_for_label }}">User</label>
                    <br>
                    {{ form.user }}
                    <br>

                    <br>
                    <label for="{{ form.password.id_for_label }}">Password</label>
                    <br>
                    {{ form.password }}
                    <br>




                    

                   
                </div>


                <div class="fieldWrapper">
                    
                   
                    <label for="{{ form.schema.id_for_label }}">Schema</label>
                    <br>
                    {{ form.schema }}
                    <br>

                    <label for="{{form.account.id_for_label }}">Account:</label>
                    <br>
                    {{form.account}}
                    <br>
                    <label for="{{ form.warehouse.id_for_label }}">Warehouse</label>
                    <br>
                    {{ form.warehouse }}
                    <br>

                    <label for="{{ form.role.id_for_label }}">Role</label>
                    <br>
                    {{ form.role }}
                    <br>
 
                </div>

                </div>
                <input type="submit" value="Save">
            </form>



        </div>
               

    </div>
    <!--page-content-->
   


    
</div>
    
</body>
</html>